:root{
--main-color:#19c8fa;
}
*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
font-family: "Open Sans", sans-serif;

}

.container{
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto;
}

/*small devices*/
@media(min-width:768px){
.container{

width:750px;
}
}

/*medium devices*/
@media(min-width:992px){
.container{

width:970px;
}
}

/*big devices*/
@media(min-width:1200px){
.container{
width:1170px;
}
}

ul{
list-style:none;
}
a{
text-decoration:none;
}

/*start component*/
.main-heading{
padding-top:50px;
text-align:center;
position:relative;
margin-bottom:40px;
font-weight:normal;
font-size:40px;
text-transform:uppercase;
}

.main-heading::before{

content: "";
    position: absolute;
    width: 109px;
    height: 2px;
    background-color: black;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);}

.main-heading+p{
text-align:center;
max-width:550px;
margin:0 auto 100px;
max-width:100%;
line-height:2;
color:#777;

}
/*end component*/

/*start header */
.header{
position:absolute;
width:100%;
z-index:2;

}

.header img{
max-height:40px;
}


.header .container{
position:relative;
display:flex;
justify-content:space-between;
align-items:center;
min-height:99px;
}

.header .container::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: white;
    bottom: 0px;
}


.header ul{
display:inline-block;
}

@media(max-width:768px){
.header ul{
display:none;
}
}


.header nav{
display:flex;
justify-content:space-between;
align-items:center;
}
.header li {
display:inline-block;
}

.header li a{
display:block;
padding:40px 10px;
color:white;
transition:0.3s;
}
.header li .active,.header li a:hover{
color:var(--main-color);
border-bottom:1px solid var(--main-color);
position:relative;
}

.header .container nav .toggle-menu{
color:white;
font-size:22px;
}

@media(min-width:768px){
.header .container nav .toggle-menu{
display:none;
}
}



@media(max-width:768px){

.header .container nav .toggle-menu:hover +ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 /50%);
}
.header .container nav ul li a{
padding:15px !important;
}
}



.header .form{
display:inline-block;
color:white;
width:35px;
text-align:center;
font-size:14px;
margin-left:20px;
border-left:1px solid white;
}


/*end header */

/*start landing */

.landing{
position:relative;
background-image:url('../images/landing.jpg');
background-size:cover;
height:100vh;
}

.landing .overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:rgb(0 0 0 /60%)
}

.landing .text{
position:absolute;
top:50%;
left:0;
transform:translateY(-50%);
width:50%;
padding:50px 80px;
background-color:rgb(15 116 143 / 70%);
color:white;
display:flex;
justify-content:flex-end;
}

.landing .text .content{
max-width:400px;
}

@media(max-width:767px){
.landing .text{
width:100%;
}
}


.landing .text h2{
font-size:32px;
font-weight:normal;
line-height:1.5;
margin-bottom:30px;

}
.landing .text p{
font-size:14px;
line-height:2;
}

.landing .change-background{
position:absolute;
top:50%;
transform:translateY(-50%);
color:#ddd;
}

@media(max-width:767px){
.landing .change-background{
display:none;
}
}

.landing .fa-angle-left{
left:30px;
}

.landing .fa-angle-right{
right:30px;
}

.landing .bullets {
display:flex;
position: absolute;
display: flex;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
}

.landing .bullets li{
width: 15px;
height: 15px;
background-color: black;
border: 1px solid white;
border-radius: 50%;
margin-left:10px;
}

.landing .bullets li.active{
background-color:rgb(15 116 143 / 70%);
}

/*end  landing */

/*start services */
.services{
padding-bottom:50px;
}

.services .container{
}

.services .container .grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
grid-gap:20px;
}

.services .container .grid .col .item{
display:flex;
margin-bottom:30px;
}

.services .container .grid .col .item i{
margin-right:30px;
}

@media(max-width:766px){
.services .container .grid .col .item{
flex-direction:column;
text-align:center;
}
.services .container .grid .col .item i{
margin: 0 auto 20px;
}
}



.services .container .grid .col .item h2{
margin-bottom: 15px;
color:#19c8fa;
}

.services .container .grid .col .item p{
color:#777;
line-height:2;}

/*end services */

/*start design */
.design{
display:flex;
align-items:center;
position:relative;
background-image:url("../images/design.jpg");
background-size:cover;
overflow:hidden;
height:600px;
}

.design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /29%);
}

.design .image{
flex:1;
text-align:center;}
.design .image img{
position:relative;
top: 163px;
}
.design .text{
color: white;
padding: 50px;
position: relative;
flex: 1;
background-color:rgb(15 116 143 / 70%);
}

.design .text ul li{
padding:15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f108";
    font-weight: 800;
    margin-right: 20px;
}
}

/*end design */

/*start portfolio*/
.portfolio{}
.portfolio .container{}
.portfolio .container ul{
display: flex;
justify-content: center;}

.portfolio .container ul li a{
    display: block;
    padding: 8px;
}

.portfolio .container ul li a.active{
background-color:#19c8fa;
}

.portfolio .content{
display:flex;
flex-wrap:wrap;
padding-top:30px;
}

.portfolio .content .image{
flex-basis:25%;
}

@media(min-width:400px) and (max-width:766px) {
.portfolio .content .image{
flex-basis:100%;
}
}

@media(min-width:767px) and (max-width:992px){
.portfolio .content .image{
flex-basis:50%;
}
}

.portfolio .content{

}

.portfolio .content .image img{
max-width:100%;
transition:0.3s;
}

.portfolio .content .image{
position:relative;
overflow:hidden;
}


.portfolio .content .discription{
padding:10px;
position:absolute;
background-color:white;
width: 100%;
bottom: -100%;
transition: 0.3s;
}

.portfolio .content .image:hover .discription{
bottom:0;
}

.portfolio .content .image:hover img{
transform:rotate(3deg) scale(1.1);
}

.portfolio .content .discription h4{
margin-bottom:8px;
}

.portfolio .content .discription p{
color:#19c8fa
}

.portfolio >a{
    padding: 15px 10px;
    display: block;
    width: fit-content;
    margin: 15px auto;
    background-color: #19c8fa;
    color: white;
}

/*end portfolio*/

/*start video*/
.video{
position:relative;
}

.video::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

.video video{
width:100%;}
.video .text{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    padding: 22px;
    transform: translateY(-50%);
    background-color:rgb(15 116 143 / 70%);
    color:white;
}
.video .text h3{
margin-bottom: 10px;
}
.video .text p{
margin-bottom:10px;}
.video .text a{
    display: block;
    width: fit-content;
    padding: 15px 10px;
    margin: 0 auto;
    background-color: black;
    color: white;
}
}

/*end video*/

/*start about*/
.about{}
.about .image{
position: relative;

overflow:hidden;
margin-top:-100px;
}
.about .image img{
max-width: 100%;
position: relative;
bottom: -100px;
left: 50%;
transform: translateX(-53%);
}

@media(max-width:768px){

}
/*end about*/
/*start stats*/
.stats{
position:relative;
background-image:url('../images/stats.png');
background-size:cover;
padding:50px;
}

.stats::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

.stats .container{
    color:white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(15 116 143 / 70%);
    text-align:center;
}

.stats .container .box{
padding:30px;
}

.stats .container .box i{
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px;
}


.stats .container .box p.number{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stats .container .box p:last-child{

}

@media(max-width:767px){
.stats .container .box{
flex-basis:100%;
}
}

@media(min-width:768px){
.stats .container .box{
flex-basis:50%;
}
}

@media(min-width:992px){
.stats .container .box{
flex-basis:25%;
}
}

/*end stats*/
/*start our-skill*/
.our-skill{
padding-top: 50px;
padding-bottom: 50px;
}
.our-skill .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-skill .container h3{
    font-weight: normal;
    text-align: center;
    margin: 0 0 30px;
    text-transform: uppercase;}

.our-skill .container .testimonial >p ,.our-skill .container .skill > p {
    color: #777;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}
.our-skill .container .testimonial{}

.our-skill .container  .box{
display: flex;
justify-content:space-between;
margin:35px 0;
}

@media(max-width:767px){
.our-skill .container  .box{
flex-direction:column;
align-items: center;
text-align: center;
}
}

.our-skill .container .testimonial .bullets{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}

.our-skill .container .testimonial .bullets li{
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid #777;
    border-radius: 50%;
    margin-left: 10px;
}
.our-skill .container .testimonial .bullets li.active{
background-color: rgb(15 116 143 / 70%);
}



@media(min-width:992px){
.our-skill .container>div{
flex-basis:45%;
}

}


.our-skill .container .box img {
    width: 100px;
    border-radius: 50%;
    margin-right: 17px;
}
@media(max-width:768px){
.our-skill .container .box img {
    width: 126px;
    border-radius: 50%;
    margin-bottom: 30px;
    }
}

.our-skill .container .box .text {
line-height: 1.6;
border-bottom: 1px solid #777;
}
.our-skill .container .box p:first-child {}
.our-skill .container .box p:last-child {
    text-align: right;
    color: #777;
    margin-bottom: 10px;
}

.our-skill .container .skill{
}
.our-skill .container .skill .prog-holder{}
.our-skill .container .skill .prog-holder h4{
    font-weight: normal;
    margin: 20px 0;
}
.our-skill .container .skill .prog-holder .prog{
background-color: #dedadc;
height: 30px;}
.our-skill .container .skill .prog-holder .prog span{
background-color: #19c8fa;
display: block;
height: 100%;
position:relative;
}

.our-skill .container .skill .prog-holder .prog span::before{

content: attr(data-progress);
    position: absolute;
    top: -36px;
    right: -16px;
    width: 31px;
    padding: 3px;
    color: white;
    background-color: black;
}

.our-skill .container .skill .prog-holder .prog span::after{

content: "";
    position: absolute;
    border: 8px solid;
    border-color: black transparent transparent transparent;
    right: -7px;
    top: -12px;
}

/*end our-skill*/

/*start quote*/
.quote{
background-image:url('../images/quote.jpg');
background-size:cover;
text-align:center;
padding:70px;
color:white;
position:relative;
}

.quote .container{
position:relative;
}


.quote::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

.quote q{
font-size:24px;
display:block;
margin-bottom:20px;
}

.quote p{
font-size:18px
}

/*end quote*/

/*start pricing*/
.pricing{

}

.pricing .container{}

.pricing .plans{
display:grid;
grid-template-columns:repeat(auto-fit ,minmax(250px,1fr));
grid-gap:20px;
}

.pricing .plans .plan{
background-color: #fcfcfc;
}

.pricing .plans .plan .head{
   text-align: center;
    padding: 30px;
    border-bottom: 1px solid #19c8fa;
    border-top: 1px solid #19c8fa;
}

.pricing .plans .plan .head h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
}

.pricing .plans .plan .head span{
    font-size: 50px;
    font-weight: bold;
    position: relative;
}

.pricing .plans .plan .head span::before{
    content: "$";
    font-size: 30px;
    position: absolute;
    top: 0px;
    left: -27px;
}

.pricing .plans .plan .head span::after{
    content: "/Mo";
    font-size: 26px;
    position: absolute;
    bottom: 0;
    right: -55px;
}

.pricing .plans .plan ul{}
.pricing .plans .plan ul li{

padding: 23px;
text-align: center;
position:relative;
}

.pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    bottom: -1px;
    background-color: #19c8fa;
    left: 50%;
    transform: translateX(-50%);

}

.pricing .plans .plan .foot{
    padding: 30px;
    text-align: center;
    border-top: 1px solid #19c8fa;

}

.pricing .plans .plan .foot button{
background-color: #fcfcfc;
    outline: none;
    padding: 20px;
    border: 1px solid #19c8fa;
}

.pricing .contact-us{
padding-top:70px;
text-align:center;

}

.pricing .contact-us p{
font-size:18px;
margin-bottom:20px;

}

.pricing .contact-us button{
color:white;
padding:20px;
border:none;
background-color:#19c8fa;
}

/*end  pricing*/

/* Start subscribe*/
.subscribe{
background-image:url('../images/subscribe.jpg');
background-size:cover;
padding:50px 20px;
margin-top:50px;
position:relative;

}
.subscribe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

.subscribe .container{
display:flex;
flex-wrap:wrap;
position: relative;
color: white;
}

.subscribe .subsc{
    margin-right: 20px;
    display: flex;
    border: 1px solid white;
    margin-bottom:20px;
}

.subscribe .subsc input{
flex-grow:1;
padding-left: 26px;
border:none;
background-color:transparent;
position:relative;
color:white;
}

@media(max-width:1170px){
.subscribe .container{
flex-direction:column;
}
.subscribe .subsc {
margin-right:0;
}
}
.subscribe .subsc input::before{
    position:absolute;
    font-family: 'Font Awesome 5 Free';
    content: "\f0e0";
    font-weight: 800;

}




.subscribe .subsc button{
padding: 12px 11px;
    border: none;
    color: white;
    background-color: #19c8fa;
}


/* end subscribe*/
/*start contact us*/
.contact-us{
}

.contact-us .content{
display:flex;
justify-content:space-between;
}

@media(max-width:767px){
  .contact-us .content{
  flex-direction:column;
  padding:1px;
  }
}
.contact-us .content .main-input{
display:block;
padding:20px;
margin-bottom:20px;
width:100%;
}
.contact-us .content form{
flex-basis:50%;
}

@media(max-width:767px){
.contact-us .content form{
margin-bottom:40px;
}
}


.contact-us .info{
flex-basis:35%;
}
@media(max-width:767px){
.contact-us .info{
text-align:center;
}
}


.contact-us .content textarea{
width:100%;
height:250px;
padding:10px;
margin-bottom:10px;
}

.contact-us .content  input[type="submit"]{
    padding: 12px;
    display: block;
    border: none;
    background-color: #19c8fa;
    color: white;
    margin-left: calc(100% - 130.7px);
}

.contact-us .content .address{
margin-bottom:35px;
}

.contact-us .content h4{
    font-size: 19px;
    text-transform: uppercase;
}
.contact-us .content span{
    display: block;
    margin: 20px 0 10px;
    color: #c1acac;
}

/*end contact us*/

/*start footer */
.footer{
margin-top:50px;
background-image:url('../images/subscribe.jpg');
background-size:cover;
position:relative;
padding:50px;
}

.footer::before{

content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);

}


.footer .container{
text-align:center;
position:relative;
}

.footer .container p:first-of-type{
color:white;
padding: 20px;
position: relative;
text-transform: uppercase;
font-size: 20px;
}

.footer .container p:first-of-type::after{
content:'';

    position: absolute;
    width: 193px;
    border: 1px solid white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer .container .icon{
margin:20px 0;
color:white;

}

.footer .container .icon i{
margin-left:10px;
}

.footer .container p:last-of-type{
color:white
}

.footer .container p:last-of-type span{
color:#19c8fa;
}
/*end  footer */
